@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.main-bg-container{
  background-image: url('https://res.cloudinary.com/db81wfhg9/image/upload/v1696091841/andrey-grinkevich-0x6RTts1jRU-unsplash_1_if9cnx.jpg');
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

.heading{
  color: #2f2f44;
  font-family: "Gabriola";
  font-weight: bold;
  font-size: 62px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.form-container{
  background-color: transparent;
  padding: 20px;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 300px;
  width: 450px;
}

input{
  width: 60%;
  font-family: "Helvetica";
  padding: 5px;
  outline: none;
  border: solid 1px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

input::placeholder{
  color: rgb(95, 97, 99);
  font-family: "Helvetica";
}

select{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Helvetica";
  padding: 5px;
  outline: none;
  border: solid 1px;
  border-width: 1px;
  background: transparent;
}

option{
  font-family: "Helvetica";
}


.label-text{
  color: #2f2f44;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 18px;
}

.submit-button{
  background-color: rgb(50, 116, 240);
  color: #ffffff;
  font-family: "Helvetica";
  height: 38px;
  width: 85px;
  border: none;
  border-radius: 5px;
}

.submit-button:hover{
  background-color: limegreen;
  transform: scale(1.1);
  transition: 0.3s;
}

.clear-button{
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  font-family: "Helvetica";
  height: 38px;
  width: 85px;
  border: none;
  border-radius: 5px;
}

.clear-button:hover{
  background-color: rgb(163, 0, 0);
  transform: scale(1.1);
  transition: 0.3s;
}

.result{
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: white;
  margin-top: 10px;
  color: black;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 450px;
}

